<h1 class="text-center">Kontakt</h1>
<div class="container text-justify">
    <h1>CONTACT FOUR PAWS</h1>
    <h3>VIER PFOTEN International - gemeinnützige Privatstiftung</h3><br>

    <p class="text-justify font-weight-normal">30.11.2022 <br>
    Have you read our frequently asked questions yet? <br>
    In our FAQs, you will find answers to frequently asked questions on the general topics of FOUR PAWS, working with us, as well as our campaigns and other animal welfare topics. <br>
    Was your question is not answered in the FAQs? Then do not hesitate to contact us. </p>

    Linke Wienzeile 236 <br>
    A-1150 Vienna <br>
    Tel: +43-1-545 50 20

</div>
<div class="text-center">
    <br>
    <img src="https://images.ctfassets.net/sfnkq8lmu5d7/4YkK1xILTFo5YCra2BAQqB/ffd2680dc8049ec94b2eaeb5f2ceb4ba/The-Wildest_Editorial_Animal-Shelter_Hero_AdobeStock_248142538.jpg" class="img-fluid" alt="Responsive image">
    <br><br>
    <p class="font-weight-bold"> JEST TO KOPIA OPISU ZE STRONY <a href="https://www.four-paws.org/"> Four-Paws </a> </P>
</div>

