<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewreport" content="width=device-width, initial-scale=1.0">
	<title>
		html css and bootstrap 4 simple landing page
	</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="index.css" />
</head>
<style>
h1   {font-size: 2.5em; font-weight: 700; color: #fff; letter-spacing: 2px;}
</style>
<body>
	<div class="container-fluid banner">
		<div class="row">
			<div class="col-md-12">
			</div>
			<div class="col-md-8 offset-md-2 info">
				<h1 class="text-center">Super Schronisko</h1>
				<p class="text-center">
					Jeśli szukasz zwierzaka do adopcji, to dobrze trafiłeś!
				</p>
                <div class="text-center">
                    <%= button_to "Zobacz Zwierzaki :)", animals_path, class:"btn btn-primary btn-lg", method: :get %>
                </div>
			</div>
		</div>
	</div>
</body>
</html>