<div id="animals">
  <% @animals.each do |animal| %>
    <%= render animal %>
    <br>
    <div class="text-center">
      <%= button_to "Pokaz zwierzaka", animal, class:"btn btn-primary mt-1", method: :get  %>
    </div>
    <br>
  <% end %>
</div>

<% if current_user %>
  <% if current_user.admin? %>
    <div class="text-center">
      <%= button_to "Dodaj nowego zwierzaka", new_animal_path, class:"btn btn-dark mt-1", method: :get %>
    </div>
  <% end %>
<% end %>
