<div class="text-center">
  <h1>Dodaj Zwierzaka</h1>
</div>

<%= render "form", animal: @animal %>

<br>

<div class="text-center">
  <%= button_to "Powrót do listy zwierząt", animals_path,class:"btn btn-primary mt-1", method: :get %>
</div>
