/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 header {
    height: 100vh;
    width: 100vw;
    background-image: url(/images/aniyuki-cute-anime-avatar-profile-picture-14.jpg);
    background-size: cover;
 }
 */
 /*
 .banner{
   height: 100vh;
   width: 100%;
   background:url('https://i.ytimg.com/vi/Ssu9oP5pBEc/maxresdefault.jpg');
   background-position: top;
   background-size: cover;
   background-repeat: no-repeat;
 }
 */
/*
 <div>
    <img src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg" class="img-fluid" alt="Responsive image">
</div>
*/
.banner{
	height: 100vh;
	width: 100%;
	background:url('overlay.png'),url('schronisko2.jpg');
	background-position: top;
	background-size:cover;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
}
.banner .info{
	margin-top:15%;
	transform: translateY(-15%);
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color: #aaa;
	letter-spacing: 2px;
}
.banner .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
	background: #e91d43;
	padding:10px 20px; 
	font-size: 2em;
	font-weight: 600;
}
.banner .info a:hover{
	background: #e91e63;
}